
.header{
  z-index: 2;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  padding:2px 0px;
  background: none;
  color:black;
  width: 100%;
  height:3vmax;
}

.header_info{
  display:flex;
  align-items: center;
}

.info{
  color:#5f6368;
  font-size: 1.5vmax;
  padding-left:5px;
  font-family: Arial, Helvetica, sans-serif;
}

.header_right{
  position: relative;
  right: 1vmax;
  display:flex;
  align-items: center;
}

/* #search{
  color:white;
} */
/* .header_search{
  display:flex;
  flex-direction: row;
  align-items: center;
  background-color: #f4f4f9;
  width:50vmax;
  height: 45px;
  border-radius: 5px;
  color: -internal-light-dark(black,white);
}

.header_search > input{
  border:none;
  outline:none;
  background: transparent;
  width:100%;
  height:40px;
} */

#header_img{
  width:2.5vmax;
}
